#wrapper
  div#seperator
    span.button Help!
  #text_center
    #img(style="position: absolute; top: 10; right: 200px; border: 0; z-index:0", src="images/cog.jpeg")

    h1#buildMachine Build Machine
    p Enter Git url and rake commands to build
    form#url(method="post", action="/url")
    table
      tr 
        td 
          label Git url:
        td 
          input#git.long(type="text",name="git_url")
      tr
        td 
          select#srcBuilder(name="build")
            option(value="rake") Rake
            option(value="make") Make
        td 
          input#buildCmd.long(type="text", name="rake")
      tr
        td
          input#build(type="button", value="Build")

#rss

#buildInfo
  
#result
      

  
