#wrapper
  div#seperator
    span.button Build!
  #text_center 
    h1 Build Machine
    p Enter Git url and rake commands to build
    form#url(method="post", action="/url")
    table
      tr 
        td 
          label Git url:
        td 
          input#git_url.long(type="text",name="git_url")
      tr
        td 
          select#builder(name="build")
            option(value="rake") Rake
            option(value="make") Make
        td 
          input#buildCmd.long(type="text", name="rake")
      tr
        td
          input#build(type="button", value="Build")

#rss

#buildInfo
  
#result
      

  
